JSON CODE FOR N8N/My workflow 8 (Aug 17 at 17_46_19)-2.json
{
  "name": "My workflow 8 (Aug 17 at 17:46:19)",
  "nodes": [
    {
      "parameters": {
        "inputDataFieldName": "File",
        "name": "={{ $json.File.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1WY3FpJOynk58i8PClZWeGWooVLEu2eFt",
          "mode": "list",
          "cachedResultName": "COAs UPLOAD",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1WY3FpJOynk58i8PClZWeGWooVLEu2eFt"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -544,
        1584
      ],
      "id": "6ed99b9f-59fa-4e4a-925f-3c942d180d9a",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9KWysX5Gq5bhJBJP",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1wGQ8iEJqZiyFsNGz2yvIAUdj8PALu-p2HGXttOfBv6U",
          "mode": "list",
          "cachedResultName": "TEST MCP - N8N ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wGQ8iEJqZiyFsNGz2yvIAUdj8PALu-p2HGXttOfBv6U/edit?usp=drivesdk"
        },
        "title": "={{ $json.tool_args.sheetName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        912,
        912
      ],
      "id": "477470a8-c51c-474a-825b-f86fd78e4504",
      "name": "Create sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3YNXsCeCytFfqrs2",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wGQ8iEJqZiyFsNGz2yvIAUdj8PALu-p2HGXttOfBv6U",
          "mode": "list",
          "cachedResultName": "TEST MCP - N8N ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wGQ8iEJqZiyFsNGz2yvIAUdj8PALu-p2HGXttOfBv6U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json['Sample ID'] }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Batch",
              "displayName": "Batch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sample ID",
              "displayName": "Sample ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Matrix",
              "displayName": "Matrix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Unit Mass (g)",
              "displayName": "Unit Mass (g)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Received",
              "displayName": "Date Received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Completed",
              "displayName": "Date Completed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generated By",
              "displayName": "Generated By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tested By",
              "displayName": "Tested By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Test Category",
              "displayName": "Test Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Analyte",
              "displayName": "Analyte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Result (%)",
              "displayName": "Result (%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Result (mg/g)",
              "displayName": "Result (mg/g)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Test Status",
              "displayName": "Test Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Method",
              "displayName": "Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "THC Alert",
              "displayName": "THC Alert",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Official Total THC %",
              "displayName": "Official Total THC %",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Calculated THC %",
              "displayName": "Calculated THC %",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "THCA % (Acid Form)",
              "displayName": "THCA % (Acid Form)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "THC % (Active Form)",
              "displayName": "THC % (Active Form)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Cannabinoids %",
              "displayName": "Total Cannabinoids %",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "THC Verification",
              "displayName": "THC Verification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Imagen Producto",
              "displayName": "Link Imagen Producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Imagen Cromatografia",
              "displayName": "Link Imagen Cromatografia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SKU",
              "displayName": "SKU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Document Link",
              "displayName": "Document Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Analytes JSON",
              "displayName": "Analytes JSON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Analytes Text",
              "displayName": "Analytes Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Panels Not Tested",
              "displayName": "Panels Not Tested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Search Text",
              "displayName": "Search Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sample_id",
              "displayName": "sample_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "batch",
              "displayName": "batch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "matrix",
              "displayName": "matrix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_received",
              "displayName": "date_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date_completed",
              "displayName": "date_completed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generated_by",
              "displayName": "generated_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tested_by",
              "displayName": "tested_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sku",
              "displayName": "sku",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "document_link",
              "displayName": "document_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_image",
              "displayName": "product_image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chroma_image",
              "displayName": "chroma_image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_cannabinoids_pct",
              "displayName": "total_cannabinoids_pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "analytes_json",
              "displayName": "analytes_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "analytes_text",
              "displayName": "analytes_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "panels_not_tested",
              "displayName": "panels_not_tested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "search_text",
              "displayName": "search_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "embedding_text",
              "displayName": "embedding_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1040,
        1136
      ],
      "id": "cf00567b-cd83-481b-9f0b-45b7808efe59",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3YNXsCeCytFfqrs2",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===== CÓDIGO FINAL - SOLO CANNABINOIDES DETECTADOS (n8n Code Node) =====\n\n// 1) Normalizar entrada (soporta array del Extract from PDF, objeto con .text o string plano)\nlet rawText = '';\nif (Array.isArray($json) && $json[0] && $json[0].text) {\n  rawText = $json[0].text;\n  console.log('Input: Array del Extract PDF');\n} else if ($json && typeof $json === 'object' && $json.text) {\n  rawText = $json.text;\n  console.log('Input: Objeto con .text');\n} else if (typeof $json === 'string') {\n  rawText = $json;\n  console.log('Input: String directo');\n} else {\n  rawText = JSON.stringify($json ?? {});\n  console.log('Input: Otro formato (JSON.stringify)');\n}\n\n// 2) Utilidades de extracción básicas\nfunction extractValue(label, text) {\n  const patterns = [\n    new RegExp(`${label}\\\\s*:\\\\s*([^\\\\n]+)`, 'i'),\n    new RegExp(`${label}\\\\s*\\\\n\\\\s*([^\\\\n]+)`, 'i'),\n    new RegExp(`${label}\\\\s+([^\\\\n]+)`, 'i'),\n  ];\n  for (const p of patterns) {\n    const m = text.match(p);\n    if (m && m[1] && m[1].trim()) return m[1].trim();\n  }\n  return '';\n}\n\nfunction extractBatch(text) {\n  const patterns = [\n    /Certificate of Analysis\\s*\\n([^\\n]+)/i,\n    /^([A-Z]{2,4}[-.0-9]+\\.?\\d*)$/m,\n    /Batch\\s*:\\s*([^\\n]+)/i,\n    /Batch:\\s*([^\\s]+)/i,\n    /Sample ID:\\s*SA-\\d+-\\d+\\s*\\nBatch:\\s*([^\\n]+)/i,\n  ];\n  for (const p of patterns) {\n    const m = text.match(p);\n    if (m && m[1] && m[1].trim()) {\n      const v = m[1].trim();\n      if (!v.includes('Sample') && !v.includes('Type') && v !== '') return v;\n    }\n  }\n  return '';\n}\n\nfunction extractPersonnel(text) {\n  const generatedBy = text.match(/Generated By:\\s*([^\\n]+)/i);\n  const testedBy = text.match(/Tested By:\\s*([^\\n]+)/i);\n  return {\n    generatedBy: generatedBy ? generatedBy[1].trim() : '',\n    testedBy: testedBy ? testedBy[1].trim() : '',\n  };\n}\n\n// 3) Helper: une líneas de la tabla (nombre en una línea y números 1-2 líneas después)\nfunction normalizeTableLines(lines) {\n  const merged = [];\n  const numRe = /^(?:<LO[QD]|\\d+(?:\\.\\d+)?)\\s+(?:<LO[QD]|\\d+(?:\\.\\d+)?)(?:\\s+(?:ND|<LO[QD]|\\d+(?:\\.\\d+)?)){1,2}$/i;\n\n  for (let i = 0; i < lines.length; i++) {\n    const cur = (lines[i] || '').trim().replace(/[Δδ∆]/g, 'Δ').replace(/\\s+/g, ' ');\n    let j = i + 1;\n\n    // busca la primera no vacía en las próximas 2\n    let nextNonEmpty = '';\n    let consumed = 0;\n    while (j < lines.length && consumed < 2) {\n      const cand = (lines[j] || '').trim();\n      if (cand) { nextNonEmpty = cand.replace(/[Δδ∆]/g, 'Δ').replace(/\\s+/g, ' '); break; }\n      j++; consumed++;\n    }\n\n    const onlyName = cur && !/\\s(?:\\d|<LO[QD]|ND)\\b/i.test(cur) && cur.length <= 60;\n    if (onlyName && nextNonEmpty && numRe.test(nextNonEmpty)) {\n      merged.push(`${cur} ${nextNonEmpty}`);\n      i = j; // saltamos vacíos + la numérica\n    } else {\n      merged.push(cur);\n    }\n  }\n  return merged;\n}\n\n// 4) Parser de cannabinoides (solo detectados)\nfunction extractCannabinoids(text) {\n  const results = [];\n  const processed = new Set();\n\n  const knownCannabinoids = [\n    'CBC','CBCA','CBCV','CBD','CBDA','CBDB','CBDP','CBDV','CBDVA',\n    'CBG','CBGA','CBL','CBLA','CBN','CBNA','CBT',\n    'Δ8-THC','Δ8-THCA','Δ8-THCB','Δ8-THC-C8','Δ8-THCH','Δ8-THCP','Δ8-THCV',\n    'Δ9-THC','Δ9-THCA','Δ9-THCB','Δ9-THC-C8','Δ9-THCH','Δ9-THCP','Δ9-THCV','Δ9-THCVA',\n    'Δ4,8-iso-THC','Δ8-iso-THC','Δ10-THC','Δ6a,10a-THC','Δ7-THC',\n    'THCA','THCVA','THCOA','THCBA','THCB','THCH','THCP','THCPV',\n    '(6aR,9R,10aR)-HHC','(6aR,9S,10aR)-HHC','HHC',\n    '(6aR,9R,10aR)-HHCo','(6aR,9S,10aR)-HHCo','HHCo','HHC-o','HHC-O',\n    '9R-HHCP','9S-HHCP','HHCP',\n    '(6aR,9R,10aR)-HHC acetate','(6aR,9S,10aR)-HHC acetate',\n    '9R-HHCP acetate','9S-HHCP acetate',\n    'CBN acetate','CBC acetate','CBD acetate','CBG acetate',\n    'Δ8-THC acetate','Δ9-THC acetate','THCA acetate','CBDA acetate','CBGA acetate',\n    'Total Δ9-THC','Total Δ8-THC','Total CBD','Total CBG','Total CBN','Total CBC',\n    'Total Cannabinoids','Total',\n  ];\n\n  const looksLike = (s) =>\n    /^(?:Total|CB[ACDLGNTB]|THC|HHC|Δ\\d-|\\(|9R-|9S-)/i.test(s) || /acetate$/i.test(s);\n\n  const methodDetected = /Cannabinoids by .*GC-MS\\/MS/i.test(text)\n    ? 'GC-MS/MS'\n    : (/Cannabinoids by .*HPLC/i.test(text) ? 'HPLC-PDA' : 'Unknown');\n\n  const rawLines = text.split('\\n');\n  // localizar bloque de tabla\n  let start = -1, end = rawLines.length;\n  for (let i = 0; i < rawLines.length; i++) {\n    const l = rawLines[i];\n    if (l.includes('Cannabinoids by')) { start = i; break; }\n    if (l.includes('Analyte') && (rawLines[i+1] || '').includes('LOD')) { start = i; break; }\n  }\n  if (start === -1) return results;\n\n  for (let i = start; i < rawLines.length; i++) {\n    const l = rawLines[i];\n    if (/Heavy Metals|Pesticides by|Residual Solvents|Microbials|KCA Laboratories|North Plaza/i.test(l)) {\n      end = i; break;\n    }\n  }\n\n  const lines = normalizeTableLines(rawLines.slice(start, end));\n\n  // patrones de fila\nconst rowFive = new RegExp('^(.+?)\\\\s+(ND|<LO[QD]|\\\\d+(?:\\\\.\\\\d+)?)\\\\s+(ND|<LO[QD]|\\\\d+(?:\\\\.\\\\d+)?)\\\\s+(ND|<LO[QD]|\\\\d+(?:\\\\.\\\\d+)?)\\\\s+(ND|<LO[QD]|\\\\d+(?:\\\\.\\\\d+)?)$', 'i');\nconst rowTotals = new RegExp('^(Total(?: [^0-9]+?)?)\\\\s+(ND|<LO[QD]|\\\\d+(?:\\\\.\\\\d+)?)\\\\s+(ND|<LO[QD]|\\\\d+(?:\\\\.\\\\d+)?)$', 'i');\n\n  for (const raw of lines) {\n    const line = raw.trim().replace(/[Δδ∆]/g, 'Δ').replace(/\\s+/g, ' ');\n    if (!line || /^(Analyte|LOD|LOQ|Result|\\(mg\\/g\\)|ND =|NT =)/i.test(line)) continue;\n\n    let m = line.match(rowFive);\n    if (!m) {\n      const mt = line.match(rowTotals);\n      if (mt) m = [mt[0], mt[1], '0', '0', mt[2], mt[3]];\n    }\n    if (!m) continue;\n\n    const name = m[1].trim();\n    const pct  = m[4];\n    const mg   = m[5];\n\n    const valid =\n      knownCannabinoids.some(k => k.replace(/[Δ]/g,'Δ') === name) || looksLike(name);\n\n    const detected = (v) => v && !/^ND$|^<LO[QD]$/i.test(v) && !isNaN(parseFloat(v)) && parseFloat(v) > 0;\n\n    if (valid && detected(pct) && !processed.has(name)) {\n      processed.add(name);\n      results.push({\n        analyte: name,\n        result_pct: pct,\n        result_mg_g: mg,\n        category: 'Cannabinoids',\n        method: methodDetected,\n        detected: true,\n        isKnown: knownCannabinoids.includes(name),\n      });\n    }\n  }\n\n  results.sort((a, b) => (parseFloat(b.result_pct) || 0) - (parseFloat(a.result_pct) || 0));\n  return results;\n}\n\n// 5) Otras utilidades\nfunction isDetected(value) {\n  if (!value || /^(ND|<LOQ|<LOD|NT|NR)$/i.test(value)) return false;\n  const n = parseFloat(value);\n  return !isNaN(n) && n > 0;\n}\n\nfunction calculateTHCAlert(cannabinoids) {\n  let thcaValue = 0;\n  let thcValue = 0;\n  let officialTotalTHC = 0;\n  let totalCannabinoids = 0;\n\n  for (const it of cannabinoids) {\n    if (!it || !it.analyte) continue;\n    if (it.analyte === 'Δ9-THCA' || it.analyte === 'THCA') thcaValue = parseFloat(it.result_pct) || thcaValue;\n    if (it.analyte === 'Δ9-THC') thcValue = parseFloat(it.result_pct) || thcValue;\n    if (it.analyte === 'Total Δ9-THC') officialTotalTHC = parseFloat(it.result_pct) || officialTotalTHC;\n    if (it.analyte === 'Total' || it.analyte === 'Total Cannabinoids') totalCannabinoids = parseFloat(it.result_pct) || totalCannabinoids;\n  }\n\n  const calculatedTotalTHC = (thcaValue * 0.877) + thcValue;\n  const finalTotalTHC = officialTotalTHC > 0 ? officialTotalTHC : calculatedTotalTHC;\n  const difference = Math.abs((officialTotalTHC || 0) - calculatedTotalTHC);\n  const calculationMatch = difference < 0.5;\n\n  return {\n    totalTHC: finalTotalTHC,\n    thcOver1: finalTotalTHC > 1,\n    thcaValue,\n    thcValue,\n    calculatedTotalTHC,\n    officialTotalTHC,\n    totalCannabinoids,\n    verification: calculationMatch ? 'MATCH' : 'MISMATCH',\n    verificationNote: calculationMatch\n      ? 'Cálculo coincide con valor oficial'\n      : `Diferencia: ${difference.toFixed(3)}%`,\n  };\n}\n\nfunction checkHeavyMetalsTested(text) {\n  if (/Heavy Metals.*?Tested/i.test(text)) return 'Tested';\n  if (/Heavy Metals by ICP-MS/i.test(text) && /Arsenic|Cadmium|Lead|Mercury/i.test(text)) return 'Tested';\n  return 'Not Tested';\n}\nfunction checkPesticidesTested(text) {\n  if (/Pesticides.*?Tested/i.test(text)) return 'Tested';\n  if (/Pesticides by LC-MS\\/MS/i.test(text)) return 'Tested';\n  return 'Not Tested';\n}\nfunction checkResidualSolventsTested(text) {\n  if (/Residual Solvents.*?Tested/i.test(text)) return 'Tested';\n  if (/Residual Solvents by HS-GC-MS/i.test(text)) return 'Tested';\n  return 'Not Tested';\n}\nfunction checkMicrobialsTested(text) {\n  if (/Microbials.*?Tested/i.test(text) || /Microbiological/i.test(text)) return 'Tested';\n  return 'Not Tested';\n}\n\n// 6) Extracción principal de metadatos\nlet batch = extractBatch(rawText);\nconst sampleId = extractValue('Sample ID', rawText);\nconst matrix = extractValue('Matrix', rawText);\nconst type = extractValue('Type', rawText);\nconst client = extractValue('Client', rawText) || 'EXTRACTOS EUM';\nconst received = extractValue('Received', rawText);\nconst completed = extractValue('Completed', rawText);\nconst unitMass = extractValue('Unit Mass', rawText);\nconst personnel = extractPersonnel(rawText);\n\nif (!batch && sampleId) batch = sampleId.replace('SA-', '').substring(0, 15);\n\n// 7) Solo cannabinoides detectados\nconst cannabinoids = extractCannabinoids(rawText);\n\n// 8) Estados de otros tests\nconst heavyMetalsStatus = checkHeavyMetalsTested(rawText);\nconst pesticidesStatus = checkPesticidesTested(rawText);\nconst residualSolventsStatus = checkResidualSolventsTested(rawText);\nconst microbialsStatus = checkMicrobialsTested(rawText);\n\n// 9) THC alerta\nconst thcInfo = calculateTHCAlert(cannabinoids);\n\n// 10) Nombre de hoja (regex seguro)\nfunction sanitizeSheetName(name) {\n  if (!name) return 'COA_Data';\n  return name\n    .replace(/[\\\\/:?*[\\]{}<>|\"]/g, '-') // caracteres inválidos en Google Sheets/Excel\n    .slice(0, 31)\n    .trim();\n}\nconst sheetName = sanitizeSheetName(sampleId || batch || 'COA_Data');\n\n// 11) Columnas y filas\nconst columns = [\n  'Batch','Sample ID','Matrix','Type','Client','Unit Mass (g)',\n  'Date Received','Date Completed','Generated By','Tested By',\n  'Test Category','Analyte','Result (%)','Result (mg/g)','Test Status','Method',\n  'THC Alert','Official Total THC %','Calculated THC %','THCA % (Acid Form)',\n  'THC % (Active Form)','Total Cannabinoids %','THC Verification',\n  'Link Imagen Producto','Link Imagen Cromatografia',\n];\n\nlet rows = [];\nfor (const it of cannabinoids) {\n  if (!it.detected) continue;\n  rows.push({\n    'Batch': batch || '',\n    'Sample ID': sampleId || '',\n    'Matrix': matrix || '',\n    'Type': type || '',\n    'Client': client || '',\n    'Unit Mass (g)': unitMass || '',\n    'Date Received': received || '',\n    'Date Completed': completed || '',\n    'Generated By': personnel.generatedBy || '',\n    'Tested By': personnel.testedBy || '',\n    'Test Category': it.category || 'Cannabinoids',\n    'Analyte': it.analyte || 'Unknown',\n    'Result (%)': it.result_pct || '',\n    'Result (mg/g)': it.result_mg_g || '',\n    'Test Status': 'Detected',\n    'Method': it.method || 'Unknown',\n    'THC Alert': thcInfo.thcOver1 ? 'YES' : 'NO',\n    'Official Total THC %': (thcInfo.officialTotalTHC || 0).toFixed(3),\n    'Calculated THC %': (thcInfo.calculatedTotalTHC || 0).toFixed(3),\n    'THCA % (Acid Form)': (thcInfo.thcaValue || 0).toFixed(3),\n    'THC % (Active Form)': (thcInfo.thcValue || 0).toFixed(3),\n    'Total Cannabinoids %': (thcInfo.totalCannabinoids || 0).toFixed(1),\n    'THC Verification': thcInfo.verification || 'N/A',\n    'Link Imagen Producto': '',\n    'Link Imagen Cromatografia': '',\n  });\n}\n\n// otras pruebas\nconst otherTests = [\n  { category: 'Heavy Metals', status: heavyMetalsStatus, method: 'ICP-MS' },\n  { category: 'Pesticides', status: pesticidesStatus, method: 'LC-MS/MS' },\n  { category: 'Residual Solvents', status: residualSolventsStatus, method: 'HS-GC-MS' },\n  { category: 'Microbials', status: microbialsStatus, method: 'PCR/Plating' },\n];\nfor (const t of otherTests) {\n  rows.push({\n    'Batch': batch || '',\n    'Sample ID': sampleId || '',\n    'Matrix': matrix || '',\n    'Type': type || '',\n    'Client': client || '',\n    'Unit Mass (g)': unitMass || '',\n    'Date Received': received || '',\n    'Date Completed': completed || '',\n    'Generated By': personnel.generatedBy || '',\n    'Tested By': personnel.testedBy || '',\n    'Test Category': t.category,\n    'Analyte': `All ${t.category}`,\n    'Result (%)': '',\n    'Result (mg/g)': '',\n    'Test Status': t.status,\n    'Method': t.method,\n    'THC Alert': thcInfo.thcOver1 ? 'YES' : 'NO',\n    'Official Total THC %': (thcInfo.officialTotalTHC || 0).toFixed(3),\n    'Calculated THC %': (thcInfo.calculatedTotalTHC || 0).toFixed(3),\n    'THCA % (Acid Form)': (thcInfo.thcaValue || 0).toFixed(3),\n    'THC % (Active Form)': (thcInfo.thcValue || 0).toFixed(3),\n    'Total Cannabinoids %': (thcInfo.totalCannabinoids || 0).toFixed(1),\n    'THC Verification': thcInfo.verification || 'N/A',\n    'Link Imagen Producto': '',\n    'Link Imagen Cromatografia': '',\n  });\n}\n\n// 12) tool_args + resumen\nconst toolArgs = {\n  spreadsheetId: '1wGQ8iEJqZiyFsNGz2yvIAUdj8PALu-p2HGXttOfBv6U',\n  sheetName,\n  columns,\n  rows,\n  thcOver1: thcInfo.thcOver1,\n  totalTHC: thcInfo.totalTHC || 0,\n};\n\nconst detectedCount = cannabinoids.length;\nconst summary = `COA PROCESADO:\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n📋 INFORMACIÓN BÁSICA:\n- Batch: ${batch || 'No encontrado'}\n- Sample ID: ${sampleId || 'No encontrado'}\n- Matrix: ${matrix || 'No encontrado'}\n- Type: ${type || 'No encontrado'}\n- Client: ${client}\n- Received: ${received || 'No encontrado'}\n- Completed: ${completed || 'No encontrado'}\n\n🔬 ANÁLISIS REALIZADOS:\n- Cannabinoides Detectados: ${detectedCount}\n- Heavy Metals: ${heavyMetalsStatus}\n- Pesticides: ${pesticidesStatus}\n- Residual Solvents: ${residualSolventsStatus}\n- Microbials: ${microbialsStatus}\n\n🌿 PERFIL DE CANNABINOIDES:\n- THCA (ácido): ${(thcInfo.thcaValue || 0).toFixed(3)}%\n- THC (activo): ${(thcInfo.thcValue || 0).toFixed(3)}%\n- Total THC Calculado: ${(thcInfo.calculatedTotalTHC || 0).toFixed(3)}%\n- Total THC Oficial: ${(thcInfo.officialTotalTHC || 0).toFixed(3)}%\n- Total Cannabinoides: ${(thcInfo.totalCannabinoids || 0).toFixed(1)}%\n\n⚠️ ALERTA THC:\n- THC Alert: ${thcInfo.thcOver1 ? '🚨 SÍ - SOBRE 1%' : '✅ NO'}\n- Verificación: ${thcInfo.verification}\n- ${thcInfo.verificationNote}\n\nTotal Filas Generadas: ${rows.length}\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━`;\n\n// 13) Salida n8n\nreturn [{\n  json: {\n    tool_args: toolArgs,\n    debug_info: {\n      batch,\n      sampleId,\n      matrix,\n      type,\n      client,\n      unitMass,\n      received,\n      completed,\n      generated_by: personnel.generatedBy,\n      tested_by: personnel.testedBy,\n      cannabinoids_detected: detectedCount,\n      heavy_metals_status: heavyMetalsStatus,\n      pesticides_status: pesticidesStatus,\n      residual_solvents_status: residualSolventsStatus,\n      microbials_status: microbialsStatus,\n      total_rows: rows.length,\n      sheet_name: sheetName,\n      thc_alert: thcInfo.thcOver1,\n      total_thc: thcInfo.totalTHC || 0,\n      thca_value: thcInfo.thcaValue || 0,\n      thc_value: thcInfo.thcValue || 0,\n    },\n    agent_input: summary,\n    success: true,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        1088
      ],
      "id": "1e5847df-5873-44d2-a26e-35e9226674c3",
      "name": "Code4"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        112,
        1088
      ],
      "id": "32358755-fcd8-47a5-a98a-9566f54a621c",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "tool_args.rows",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        1184
      ],
      "id": "aad64191-ce86-4241-82ac-57b411ed18ef",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "formTitle": "COA UPLOADER",
        "formDescription": "upload coa 2",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -768,
        1584
      ],
      "id": "47297e58-04db-40c0-8d30-e206dec12312",
      "name": "On form submission1",
      "webhookId": "1a5b5981-bad4-44c1-b30f-4e3b2d9c8d85"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1WY3FpJOynk58i8PClZWeGWooVLEu2eFt",
          "mode": "list",
          "cachedResultName": "COAs UPLOAD",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1WY3FpJOynk58i8PClZWeGWooVLEu2eFt"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        976
      ],
      "id": "321b92e9-1adf-4581-922b-5f33ae603f85",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9KWysX5Gq5bhJBJP",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wGQ8iEJqZiyFsNGz2yvIAUdj8PALu-p2HGXttOfBv6U",
          "mode": "list",
          "cachedResultName": "TEST MCP - N8N ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wGQ8iEJqZiyFsNGz2yvIAUdj8PALu-p2HGXttOfBv6U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 173290196,
          "mode": "list",
          "cachedResultName": "INDEX",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wGQ8iEJqZiyFsNGz2yvIAUdj8PALu-p2HGXttOfBv6U/edit#gid=173290196"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Batch",
              "displayName": "Batch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sample ID",
              "displayName": "Sample ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Matrix",
              "displayName": "Matrix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Unit Mass (g)",
              "displayName": "Unit Mass (g)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Received",
              "displayName": "Date Received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Completed",
              "displayName": "Date Completed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generated By",
              "displayName": "Generated By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tested By",
              "displayName": "Tested By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Test Category",
              "displayName": "Test Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Analyte",
              "displayName": "Analyte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Result (%)",
              "displayName": "Result (%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Result (mg/g)",
              "displayName": "Result (mg/g)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Result Status",
              "displayName": "Result Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Method",
              "displayName": "Method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "THC Alert",
              "displayName": "THC Alert",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Official Total THC %",
              "displayName": "Official Total THC %",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Calculated THC %",
              "displayName": "Calculated THC %",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "THC Verification",
              "displayName": "THC Verification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Imagen Producto",
              "displayName": "Link Imagen Producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link Imagen Cromatografia",
              "displayName": "Link Imagen Cromatografia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        992,
        1328
      ],
      "id": "7e453878-25ab-45ec-b323-8163e56555fb",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3YNXsCeCytFfqrs2",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -320,
        1088
      ],
      "id": "f2c94c00-e700-4117-ab19-3f0ca95c9d7a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9KWysX5Gq5bhJBJP",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1WY3FpJOynk58i8PClZWeGWooVLEu2eFt",
          "mode": "list",
          "cachedResultName": "COAs UPLOAD",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1WY3FpJOynk58i8PClZWeGWooVLEu2eFt"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        1168
      ],
      "id": "1116a5e8-8ae9-481d-98d7-cdfee0ec601a",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9KWysX5Gq5bhJBJP",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -544,
        1088
      ],
      "id": "b83486ab-5c68-415c-950f-56b410321b35",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        944
      ],
      "id": "67eadabb-ea9f-4a15-84bb-bab23cea4f6a",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "*.xlsx File should be name with the next structure:EUM\"MONTH\"\"YEAR\"COAS ANT SHOULD HAVE THE FIRST SHEET NAME:INDEX\n",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -512,
        800
      ],
      "id": "0a6d3590-a63d-4a87-8c6b-125535736e5f",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9KWysX5Gq5bhJBJP",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JS) — mantiene llaves originales (e.g. \"Sample ID\")\n// y añade duplicados normalizados (sample_id) para usos futuros.\n\n// ---------- utils ----------\nconst getFirstNonEmpty = (obj, keys, def='') => {\n  for (const k of keys) {\n    const v = obj[k];\n    if (v !== undefined && v !== null && String(v).trim() !== '') return String(v).trim();\n  }\n  return def;\n};\nconst num = (v) => {\n  if (v === null || v === undefined) return null;\n  const s = String(v).replace(',', '.').trim();\n  const n = Number(s);\n  return Number.isFinite(n) ? n : null;\n};\n\n// ---------- input ----------\nconst rows = items.map(i => i.json || i).filter(Boolean);\nif (!rows.length) return [{ json: { error: 'Sin filas de entrada' } }];\nconst meta = rows[0];\n\n// ---------- metadatos (claves originales intactas) ----------\nconst SampleID      = getFirstNonEmpty(meta, ['Sample ID','sample_id','sampleId']);\nconst Batch         = getFirstNonEmpty(meta, ['Batch','batch']);\nconst Client        = getFirstNonEmpty(meta, ['Client','client']);\nconst Matrix        = getFirstNonEmpty(meta, ['Matrix','matrix']);\nconst Type          = getFirstNonEmpty(meta, ['Type','type']);\nconst DateReceived  = getFirstNonEmpty(meta, ['Date Received','date_received']);\nconst DateCompleted = getFirstNonEmpty(meta, ['Date Completed','date_completed']);\nconst GeneratedBy   = getFirstNonEmpty(meta, ['Generated By','generated_by']);\nconst TestedBy      = getFirstNonEmpty(meta, ['Tested By','tested_by']);\nconst SKU           = getFirstNonEmpty(meta, ['SKU','sku']);\nconst ProductName   = getFirstNonEmpty(meta, ['Nombre de el producto','Product Name','product_name','name']);\nconst ProductImage  = getFirstNonEmpty(meta, ['Link Imagen Producto','product_image']);\nconst ChromaImage   = getFirstNonEmpty(meta, ['Link Imagen Cromatografia','chroma_image']);\n\nconst thc_alert              = getFirstNonEmpty(meta, ['THC Alert']);\nconst official_total_thc_pct = getFirstNonEmpty(meta, ['Official Total THC %']);\nconst calculated_thc_pct     = getFirstNonEmpty(meta, ['Calculated THC %']);\nconst thca_pct_acid          = getFirstNonEmpty(meta, ['THCA % (Acid Form)']);\nconst thc_active_pct         = getFirstNonEmpty(meta, ['THC % (Active Form)']);\nconst thc_verification       = getFirstNonEmpty(meta, ['THC Verification']);\n\n// ---------- links desde el nodo \"Download file\" ----------\nlet webContentLink = '', webViewLink = '', iconLink = '', hasThumbnail = '', thumbnailLink = '', fileId = '';\ntry {\n  const f = $item(0).$node[\"Download file\"].json || {};\n  webContentLink = f.webContentLink || '';\n  webViewLink    = f.webViewLink    || '';\n  iconLink       = f.iconLink       || '';\n  hasThumbnail   = (typeof f.hasThumbnail !== 'undefined') ? String(f.hasThumbnail) : '';\n  thumbnailLink  = f.thumbnailLink  || '';\n  fileId         = f.id || '';\n} catch (e) { /* si no existe el nodo, quedan vacíos */ }\n\n// Fallback por si el link viene en el payload\nconst DocumentLink = webContentLink || getFirstNonEmpty(meta, [\n  'document_link','file_link','fileUrl','url','link','pdf_url','docUrl'\n]);\n\n// ---------- analitos ----------\nconst OMIT = new Set(['Heavy Metals','Pesticides','Residual Solvents','Microbials']);\nconst cannRows   = rows.filter(r => (r['Test Category'] || '').trim() === 'Cannabinoids');\nconst totalRow   = cannRows.find(r => (r['Analyte'] || '').trim().toLowerCase() === 'total');\nconst totalCannPct = totalRow ? getFirstNonEmpty(totalRow, ['Result (%)']) : '';\n\nconst analytes = cannRows\n  .filter(r => r.Analyte && r.Analyte.trim().toLowerCase() !== 'total')\n  .map(r => ({\n    analyte: r.Analyte.trim(),\n    result_pct: num(r['Result (%)']),\n    result_mg_g: num(r['Result (mg/g)']),\n    status: getFirstNonEmpty(r, ['Test Status'])\n  }));\n\nconst analytes_text = analytes\n  .map(a => `${a.analyte}:${a.result_pct ?? 'ND'}% (${a.result_mg_g ?? 'ND'} mg/g)`)\n  .join('; ');\n\nconst notTestedPanels = rows\n  .filter(r => OMIT.has((r['Test Category'] || '').trim()) && (r['Test Status'] || '').trim() === 'Not Tested')\n  .map(r => r['Test Category'])\n  .filter(Boolean);\n\n// ---------- embeddings / búsqueda ----------\nconst timestamp_iso = new Date().toISOString();\nconst embedding_text = [\n  Client, ProductName, SKU, Batch, SampleID, Matrix, Type,\n  `Received ${DateReceived}`, `Completed ${DateCompleted}`,\n  `GenBy ${GeneratedBy}`, `TestBy ${TestedBy}`,\n  `Cannabinoids: ${analytes_text}`,\n  `TotalCannabinoids%: ${totalCannPct}`,\n  `THC_alert:${thc_alert} OfficialTHC%:${official_total_thc_pct} CalcTHC%:${calculated_thc_pct}`,\n  `THCA%:${thca_pct_acid} THC(active)%:${thc_active_pct}`,\n  notTestedPanels.length ? `PanelsNotTested:${notTestedPanels.join(',')}` : '',\n  DocumentLink\n].filter(Boolean).join(' | ');\n\n// ---------- salida ----------\nconst out = {\n  // base\n  timestamp: timestamp_iso,\n\n  // === Claves originales (compatibles con tu Sheet) ===\n  \"Sample ID\": SampleID,\n  \"Batch\": Batch,\n  \"Client\": Client,\n  \"Matrix\": Matrix,\n  \"Type\": Type,\n  \"Date Received\": DateReceived,\n  \"Date Completed\": DateCompleted,\n  \"Generated By\": GeneratedBy,\n  \"Tested By\": TestedBy,\n  \"SKU\": SKU,\n  \"Product Name\": ProductName,\n\n  // Links principales\n  \"Document Link\": DocumentLink,                        // descarga (prioriza Download file)\n  \"Document View Link\": webViewLink,                    // vista\n  \"Document Icon Link\": iconLink,\n  \"Document Has Thumbnail\": hasThumbnail,\n  \"Document Thumbnail Link\": thumbnailLink,\n  \"Document File Id\": fileId,\n\n  \"Link Imagen Producto\": ProductImage,\n  \"Link Imagen Cromatografia\": ChromaImage,\n  \"THC Alert\": thc_alert,\n  \"Official Total THC %\": official_total_thc_pct,\n  \"Calculated THC %\": calculated_thc_pct,\n  \"THCA % (Acid Form)\": thca_pct_acid,\n  \"THC % (Active Form)\": thc_active_pct,\n  \"Total Cannabinoids %\": totalCannPct,\n  \"THC Verification\": thc_verification,\n  \"Analytes JSON\": JSON.stringify(analytes),\n  \"Analytes Text\": analytes_text,\n  \"Panels Not Tested\": notTestedPanels.join(','),\n  \"Search Text\": embedding_text,\n\n  // === Duplicados normalizados (opcionales) ===\n  sample_id: SampleID,\n  batch: Batch,\n  client: Client,\n  matrix: Matrix,\n  type: Type,\n  date_received: DateReceived,\n  date_completed: DateCompleted,\n  generated_by: GeneratedBy,\n  tested_by: TestedBy,\n  sku: SKU,\n  product_name: ProductName,\n\n  // Duplicados de links\n  document_link: DocumentLink,\n  document_view_link: webViewLink,\n  document_icon_link: iconLink,\n  document_has_thumbnail: hasThumbnail,\n  document_thumbnail_link: thumbnailLink,\n  document_file_id: fileId,\n\n  total_cannabinoids_pct: totalCannPct,\n  analytes_json: JSON.stringify(analytes),\n  analytes_text,\n  panels_not_tested: notTestedPanels.join(','),\n  search_text: embedding_text,\n  embedding_text\n};\n\nreturn [{ json: out }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1264
      ],
      "id": "c3b42b79-360a-4476-98f6-a4c473ced359",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JS) — mantiene llaves originales (e.g. \"Sample ID\")\n// y añade duplicados normalizados (sample_id) para usos futuros.\n\n// ---------- utils ----------\nconst getFirstNonEmpty = (obj, keys, def='') => {\n  for (const k of keys) {\n    const v = obj[k];\n    if (v !== undefined && v !== null && String(v).trim() !== '') return String(v).trim();\n  }\n  return def;\n};\nconst num = (v) => {\n  if (v === null || v === undefined) return null;\n  const s = String(v).replace(',', '.').trim();\n  const n = Number(s);\n  return Number.isFinite(n) ? n : null;\n};\n\n// ---------- input ----------\nconst rows = items.map(i => i.json || i).filter(Boolean);\nif (!rows.length) return [{ json: { error: 'Sin filas de entrada' } }];\nconst meta = rows[0];\n\n// ---------- metadatos (conservo llaves originales) ----------\nconst SampleID   = getFirstNonEmpty(meta, ['Sample ID','sample_id','sampleId']);\nconst Batch      = getFirstNonEmpty(meta, ['Batch','batch']);\nconst Client     = getFirstNonEmpty(meta, ['Client','client']);\nconst Matrix     = getFirstNonEmpty(meta, ['Matrix','matrix']);\nconst Type       = getFirstNonEmpty(meta, ['Type','type']);\nconst DateReceived = getFirstNonEmpty(meta, ['Date Received','date_received']);\nconst DateCompleted = getFirstNonEmpty(meta, ['Date Completed','date_completed']);\nconst GeneratedBy = getFirstNonEmpty(meta, ['Generated By','generated_by']);\nconst TestedBy    = getFirstNonEmpty(meta, ['Tested By','tested_by']);\nconst SKU         = getFirstNonEmpty(meta, ['SKU','sku']);\nconst ProductName = getFirstNonEmpty(meta, ['Nombre de el producto','Product Name','product_name','name']);\n\nconst DocumentLink = getFirstNonEmpty(meta, [\n  'document_link','file_link','fileUrl','url','link','pdf_url','docUrl'\n]);\nconst ProductImage = getFirstNonEmpty(meta, ['Link Imagen Producto','product_image']);\nconst ChromaImage  = getFirstNonEmpty(meta, ['Link Imagen Cromatografia','chroma_image']);\n\nconst OMIT = new Set(['Heavy Metals','Pesticides','Residual Solvents','Microbials']);\nconst cannRows = rows.filter(r => (r['Test Category'] || '').trim() === 'Cannabinoids');\nconst totalRow = cannRows.find(r => (r['Analyte'] || '').trim().toLowerCase() === 'total');\nconst totalCannPct = totalRow ? getFirstNonEmpty(totalRow, ['Result (%)']) : '';\n\nconst analytes = cannRows\n  .filter(r => r.Analyte && r.Analyte.trim().toLowerCase() !== 'total')\n  .map(r => ({\n    analyte: r.Analyte.trim(),\n    result_pct: num(r['Result (%)']),\n    result_mg_g: num(r['Result (mg/g)']),\n    status: getFirstNonEmpty(r, ['Test Status'])\n  }));\n\nconst analytes_text = analytes\n  .map(a => `${a.analyte}:${a.result_pct ?? 'ND'}% (${a.result_mg_g ?? 'ND'} mg/g)`)\n  .join('; ');\n\nconst notTestedPanels = rows\n  .filter(r => OMIT.has((r['Test Category'] || '').trim()) && (r['Test Status'] || '').trim() === 'Not Tested')\n  .map(r => r['Test Category'])\n  .filter(Boolean);\n\nconst thc_alert              = getFirstNonEmpty(meta, ['THC Alert']);\nconst official_total_thc_pct = getFirstNonEmpty(meta, ['Official Total THC %']);\nconst calculated_thc_pct     = getFirstNonEmpty(meta, ['Calculated THC %']);\nconst thca_pct_acid          = getFirstNonEmpty(meta, ['THCA % (Acid Form)']);\nconst thc_active_pct         = getFirstNonEmpty(meta, ['THC % (Active Form)']);\nconst thc_verification       = getFirstNonEmpty(meta, ['THC Verification']);\n\nconst timestamp_iso = new Date().toISOString();\n\n// Texto para embeddings/búsqueda\nconst embedding_text = [\n  Client, ProductName, SKU, Batch, SampleID, Matrix, Type,\n  `Received ${DateReceived}`, `Completed ${DateCompleted}`,\n  `GenBy ${GeneratedBy}`, `TestBy ${TestedBy}`,\n  `Cannabinoids: ${analytes_text}`,\n  `TotalCannabinoids%: ${totalCannPct}`,\n  `THC_alert:${thc_alert} OfficialTHC%:${official_total_thc_pct} CalcTHC%:${calculated_thc_pct}`,\n  `THCA%:${thca_pct_acid} THC(active)%:${thc_active_pct}`,\n  notTestedPanels.length ? `PanelsNotTested:${notTestedPanels.join(',')}` : '',\n  DocumentLink\n].filter(Boolean).join(' | ');\n\n// ---------- SALIDA ----------\n// 1) Campos con nombres EXACTOS como tus fuentes (compatibilidad con Sheet By Name = {{ $json['Sample ID'] }})\n// 2) Duplicados normalizados (snake_case) por si los necesitas después.\nconst out = {\n  // base\n  timestamp: timestamp_iso,\n\n  // === Claves originales (NO se cambian) ===\n  \"Sample ID\": SampleID,\n  \"Batch\": Batch,\n  \"Client\": Client,\n  \"Matrix\": Matrix,\n  \"Type\": Type,\n  \"Date Received\": DateReceived,\n  \"Date Completed\": DateCompleted,\n  \"Generated By\": GeneratedBy,\n  \"Tested By\": TestedBy,\n  \"SKU\": SKU,\n  \"Product Name\": ProductName,\n  \"Document Link\": DocumentLink,\n  \"Link Imagen Producto\": ProductImage,\n  \"Link Imagen Cromatografia\": ChromaImage,\n  \"THC Alert\": thc_alert,\n  \"Official Total THC %\": official_total_thc_pct,\n  \"Calculated THC %\": calculated_thc_pct,\n  \"THCA % (Acid Form)\": thca_pct_acid,\n  \"THC % (Active Form)\": thc_active_pct,\n  \"Total Cannabinoids %\": totalCannPct,\n  \"THC Verification\": thc_verification,\n  \"Analytes JSON\": JSON.stringify(analytes),\n  \"Analytes Text\": analytes_text,\n  \"Panels Not Tested\": notTestedPanels.join(','),\n  \"Search Text\": embedding_text,\n\n  // === Duplicados normalizados (opcionales) ===\n  sample_id: SampleID,\n  batch: Batch,\n  client: Client,\n  matrix: Matrix,\n  type: Type,\n  date_received: DateReceived,\n  date_completed: DateCompleted,\n  generated_by: GeneratedBy,\n  tested_by: TestedBy,\n  sku: SKU,\n  product_name: ProductName,\n  document_link: DocumentLink,\n  product_image: ProductImage,\n  chroma_image: ChromaImage,\n  total_cannabinoids_pct: totalCannPct,\n  analytes_json: JSON.stringify(analytes),\n  analytes_text,\n  panels_not_tested: notTestedPanels.join(','),\n  search_text: embedding_text,\n  embedding_text\n};\n\nreturn [{ json: out }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        1280
      ],
      "id": "7d9ead8a-ebd3-4995-9e31-f87dfedf3707",
      "name": "Code2"
    }
  ],
  "pinData": {},
  "connections": {
    "Code4": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        []
      ]
    },
    "Create sheet": {
      "main": [
        []
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "b61a325f-c711-465d-868a-0cb1cf07f654",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "63b1997e06e6380a42652a1ef9ff49eef4d6e05b2f097b9ef8b092257c42dbfe"
  },
  "id": "eyxuS39j7214xMli",
  "tags": []
}